<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand">My Bank</a>
      <form class="d-flex input-group w-auto">
        <input
          type="search"
          type="search"
          class="form-control rounded"
          placeholder="Search"
          aria-label="Search"
        />
        <span class="input-group-text border-0" id="search-addon">
          <i class="fas fa-search"></i>
        </span>
      </form>
    </div>
  </nav>
<div class="parent">
  <h1>Welcome {{user}}</h1>
  <div><a routerLink="/transaction">View Transaction History</a></div>
  
    <div class="child">
<div class="wrapper">
    <div class="logo">
        <img src="../../assets/images/bank.png" alt="">
    </div>
    
    <div class="text-center mt-4 name">
        Deposite Form
    </div>
    <!-- <h5 style="color: rgb(255, 0, 43);">{{aim}}</h5> -->
    <form class="p-3 mt-3">
<!-- acno -->
        <div class="form-field d-flex align-items-center">
            <input [(ngModel)]="acno" type="text" name="acno" id="dsah_acno" placeholder="account">
            </div>
<!-- password -->
        <div class="form-field d-flex align-items-center">
            <input [(ngModel)]="pswd" type="password" name="password" id="dash_pswd" placeholder="Password">
        </div>
<!-- amount-->
        <div class="form-field d-flex align-items-center">
            <input [(ngModel)]="amount" type="text" name="uname" id="dash_user" placeholder="amount">
            </div>
    
        <button class="btn mt-3" (click)="(deposit())" type="button" >Deposite</button>
    </form>
    <div class="text-center fs-5 mt-3">
        <!-- <a href="#">Existing user?</a> or <a routerLink="">Withd</a> -->
    </div>
</div>
</div>
<div class="child">
<div class="wrapper">
    <div class="logo">
        <img src="../../assets/images/bank.png" alt="">
    </div>
    
    <div class="text-center mt-4 name">
        Withdraw Form
    </div>
    <!-- <h5 style="color: rgb(255, 0, 43);">{{aim}}</h5> -->
    <form class="p-3 mt-3">
<!-- acno -->
        <div class="form-field d-flex align-items-center">
            <input [(ngModel)]="acno1" type="text" name="acno" id="with_acno" placeholder="account">
            </div>
<!-- password -->
        <div class="form-field d-flex align-items-center">
            <input [(ngModel)]="pswd1" type="password" name="password" id="with_pswd" placeholder="Password">
        </div>
<!-- amount-->
        <div class="form-field d-flex align-items-center">
            <input [(ngModel)]="amount1" type="text" name="uname" id="with_amount" placeholder="amount">
            </div>
    
        <button class="btn mt-3" (click)="(withdraw())" type="button" >Withdraw</button>
    </form>
    <div class="text-center fs-5 mt-3">
        <!-- <a href="#">Existing user?</a> or <a routerLink="">Withd</a> -->
    </div>
</div>
</div>
</div>
<footer class="bg-light text-center text-lg-start">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Links</h5>
  
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-dark">Link 1</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Link 2</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Link 3</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Link 4</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-0">Links</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!" class="text-dark">Link 1</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Link 2</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Link 3</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Link 4</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Links</h5>
  
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-dark">Link 1</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Link 2</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Link 3</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Link 4</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-0">Links</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!" class="text-dark">Link 1</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Link 2</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Link 3</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Link 4</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
  </footer>